.logo{
    font-weight: bold;
    font-size: 30px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #ffffff;
    font-weight: bold;
}

.logout{
    padding:5px;
    border:none;
    background-color: #cedc00;
    color: #00352f;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
  }
  
  .navbarCollapsed {
    width: 48px;
  }
  
  .navbarExpanded {
    width: 200px;
  }
  
  .navLinks {
    display: none;
    flex-direction: column;
    gap: 6px;
    color: black;
    font-weight: bold;
    padding-left: 6px;
  }
  
  .navItem {
    transition: all 0.2s ease-in-out;
  }
  
  .navItem:hover {
    transform: scale(1.1);
  }
  
  .activeLink {
    color: black;
  }
  
  @media (hover: hover) and (max-width: 600px) {
    .navbar:hover {
      width: 200px;
    }
  
    .navbar:hover .navLinks {
      display: flex;
    }
  }
  
  @media (hover: none) and (max-width: 600px) {
    .navbar:active {
      width: 200px;
    }
  
    .navbar:active .navLinks {
      display: flex;
    }
  }